@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #39B645 #e5e7eb;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e5e7eb;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #39B645;
    border-radius: 0.25rem;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #226b29 !important;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}


/* Spreadsheet page - resizing */
.col-resize-handle {
  position: relative;
  cursor: col-resize;
}

.col-resize-cursor {
  cursor: col-resize;
}

.col-resize-handle:after {
  content: "";
  position: absolute;
  top: 25%;
  right: 2px;
  width: 2px;
  height: 50%;
  background-color: #000;
  opacity: 1;
}

.col-resize-handle:before {
  content: "";
  position: absolute;
  top: 25%;
  right: -5px;
  width: 2px;
  height: 50%;
  background-color: #000;
  opacity: 1;
}

.row-resize-handle {
  position: relative;
  cursor: row-resize;
}

.row-resize-cursor {
  cursor: row-resize;
}

.row-resize-handle:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #000;
  opacity: 1;
}

.row-resize-handle:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #000;
  opacity: 1;
  z-index: 40;
}

.hidden-col-before::before {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #047500;
  content: '▷';
  color: white;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 18px;
  width: 15px;
  z-index: 30;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hidden-col-after::after {
  background-color: #047500;
  display: none;
  justify-content: center;
  align-items: center;
  content: '◁';
  color: white;
  position: absolute;
  top: -1px;
  right: -1px;
  height: 18px;
  width: 15px;
  z-index: 30;
  cursor: pointer;
  border-radius: 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hidden-col-before:hover::before {
  display: flex;
}

.hidden-col-after:hover::after {
  display: flex;
}


.hidden-row-before::before {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #047500;
  content: '▽';
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 18px;
  width: 15px;
  z-index: 30;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
}

.hidden-row-after::after {
  background-color: #047500;
  display: none;
  justify-content: center;
  align-items: center;
  content: '△';
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 18px;
  width: 15px;
  z-index: 30;
  cursor: pointer;
  border-radius: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hidden-row-before:hover::before {
  display: flex;
}

.hidden-row-after:hover::after {
  display: flex;
}

.border-t-3 {
  border-top-width: 3px;
}

.border-b-3 {
  border-bottom-width: 3px;
}

.border-l-3 {
  border-left-width: 3px;
}

.border-r-3 {
  border-right-width: 3px;
}
